:root {
    --primary-green: #1AC073;
    --secondary-green: #2EBF91;

    --background-light: #F0FAF7;
    --neutral-light: #F2F2F2;

    --accent-yellow: #F3BA00;
    --font-family-rubik: 'Rubik', sans-serif;
}